on:
  push:

env:
  APPLICATION_NAME: fresh_tack

# -------------------------------------------
# 1. ANALYZE & TEST
# -------------------------------------------

permissions:
  contents: write

jobs:
  analyze-and-test:
    name: Analyze & Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true

      - name: Flutter Pub Get
        run: flutter pub get

      - name: Analyze
        run: flutter analyze --fatal-infos --fatal-warnings

      # Optional Tests
      # - name: Test
      #   run: flutter test
