on:
  push:

# -------------------------------------------
# 1. ANALYZE & TEST
# -------------------------------------------

permissions:
  contents: write

jobs:
  # -------------------------------------------
  # 0. GENERATE VERSION
  # -------------------------------------------

  generate-version:
    uses: ./.github/workflows/generate-version.yaml

  analyze-and-test:
    name: Analyze & Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true

      - name: Flutter Pub Get
        run: flutter pub get

      - name: Analyze
        run: flutter analyze --fatal-infos --fatal-warnings

      # Optional Tests
      # - name: Test
      #   run: flutter test

  # -------------------------------------------
  # 2. BUILD WEB
  # -------------------------------------------

  build-web:
    name: Build Web
    runs-on: ubuntu-latest
    needs: [analyze-and-test, generate-version]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true

      - name: Flutter Pub Get
        run: flutter pub get

      - name: Build Web
        run: flutter build web --release --build-name=${{ needs.generate-version.outputs.build-name }} --build-number=${{ needs.generate-version.outputs.build-number }}

      - name: Upload Web Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: web-build
          path: build/web/
          retention-days: 30

  # -------------------------------------------
  # 3. BUILD ANDROID
  # -------------------------------------------

  build-android:
    name: Build Android
    runs-on: ubuntu-latest
    needs: [analyze-and-test, generate-version]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: "zulu"
          java-version: "17"

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true

      - name: Flutter Pub Get
        run: flutter pub get

      - name: Build Android APK
        run: flutter build apk --release --build-name=${{ needs.generate-version.outputs.build-name }} --build-number=${{ needs.generate-version.outputs.build-number }}

      - name: Upload Android Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: android-build
          path: build/app/outputs/flutter-apk/app-release.apk
          retention-days: 30


  # -------------------------------------------
  # 5. CREATE TAG
  # -------------------------------------------

  create-tag:
    needs: [generate-version, build-android, build-web]
    uses: ./.github/workflows/create-tag.yaml
    if: github.event_name == 'push' && ((github.ref == 'refs/heads/main') || startsWith(github.ref_name, 'release'))
    with:
      version: ${{ needs.generate-version.outputs.version-number }}

  # -------------------------------------------
  # 6. CREATE RELEASE
  # -------------------------------------------

  create-release:
    needs: [generate-version, create-tag]
    uses: ./.github/workflows/create-release.yaml
    with:
      version: ${{ needs.generate-version.outputs.version-number }}
      prerelease: ${{ github.ref == 'refs/heads/main' }}
